<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Wehemo.Business.Properties.Settings.WehemoConnectionString"
            connectionString="Data Source=ACER-5750G\SQLEXPRESS;Initial Catalog=Wehemo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>